/*font*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

/*vars*/

:root{
    --primary: #595959;
    --secondary: #8C8C8C;
    --secondary-light: #F2F2F2;
    --pink: #F2AEB4;
    --pink-light: #F2CED1;
}

/*base*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    color: var(--primary);
}
a{
    text-decoration: none;
}
/*buttons*/
button, .btn{
    background: var(--pink);
    border-radius: 8px;
    border: 0;
    padding: 8px 12px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
}
button:hover, .btn:hover{
    background: var(--pink-light);
    color: var(--primary);
}
button:disabled{
    opacity: 0.5;
    color: var(--primary);
    background: var(--secondary);
    cursor: not-allowed;
}

/*input*/

form{
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
    border: 1px solid var(--secondary);
    background: var(--secondary-light);
}
input, textarea{
    border: 0;
    border-bottom: 1px solid var(--secondary);
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
}

/*error text*/

.error{
    color: #ff6168;
    font-size: 14px;
    margin: 16px 0;
}